.display-container{  
    width: auto;
    max-height: 500px;
    overflow-y: scroll;
    flex: 0.95;
}
details {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(66, 10, 10);
    color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: border-color 0.3s ease,background-color 1s ease;
}

details[open] {
    border-color: #007bff;
    background-color: rgba(0, 183, 255,0.1);
    color: rgb(88, 31, 31);
} 
details[open] .label{
    color: #000;
}
summary {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 4px solid rgb(0, 183, 255);
}
summary span{
    display: inline-block;
    width: 25%;
    text-align: center;
}
.title {
    font-weight: bold; 
}

.label {
    color: white;
    font-style: italic; 
}

input[type="button"] {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #ff1a1a;
}
 
.description {
    text-align: center;
}
